In [1]:
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\tinad\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\tinad\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\tinad\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install MySQLdb

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement MySQLdb (from versions: none)
ERROR: No matching distribution found for MySQLdb

In [3]:
%pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\tinad\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
df_merge = pd.read_excel('data/olympic_final.xlsx')

In [10]:
df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,athlete_year_birth,nb_gold,nb_silver,nb_bronze,Medals,game_end_date,game_start_date,game_location,game_season,game_year,city_location
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,1999,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
1,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,1997,0,0,1,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
2,Curling,Mixed Doubles,Mixed,GameTeam,Oskar ERIKSSON,Sweden,4,1991,1,1,2,4,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
3,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Birk RUUD,Norway,1,2000,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
4,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Colby STEVENSON,USA,1,1997,0,1,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing

In [11]:
table_athletes = df_merge[['athlete_full_name', 'athlete_year_birth']]

In [12]:
table_athletes.duplicated().sum()

13818

In [13]:
table_athletes.drop_duplicates(inplace=True)

C:\Users\tinad\AppData\Local\Temp\ipykernel_5116\1105030447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_athletes.drop_duplicates(inplace=True)

In [14]:
table_athletes.columns = ['full_name', 'birth']

In [15]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:@localhost/hackathon')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_athletes.to_sql('athlete', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'athlete'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'athlete'.

In [16]:
table_country = df_merge[['country_name']]

In [17]:
table_country.columns = ['name']

In [18]:
table_country.drop_duplicates(inplace=True)

C:\Users\tinad\AppData\Local\Temp\ipykernel_5116\1186006666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_country.drop_duplicates(inplace=True)

In [19]:
table_country.duplicated().sum()

0

In [21]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:@localhost/hackathon')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_country.to_sql('country', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'country'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'country'.

In [22]:
table_games =  df_merge[['game_location','game_year']]

In [23]:
table_games.drop_duplicates(inplace=True)

C:\Users\tinad\AppData\Local\Temp\ipykernel_5116\237488133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_games.drop_duplicates(inplace=True)

In [24]:
table_games.duplicated().sum()

0

In [25]:
table_games.columns = ['name','year']

In [26]:
table_games.duplicated().sum()

0

In [27]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:@localhost/hackathon')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_games.to_sql('game', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'games'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'games'.

In [28]:
table_participations = df_merge[['athlete_full_name','country_name','game_location','game_year','nb_gold',	'nb_silver', 'nb_bronze','Medals']]

In [29]:
table_participations.head()

,athlete_full_name,country_name,game_location,game_year,nb_gold,nb_silver,nb_bronze,Medals
0,Stefania CONSTANTINI,Italy,China,2022,1,0,0,1
1,Almida DE VAL,Sweden,China,2022,0,0,1,1
2,Oskar ERIKSSON,Sweden,China,2022,1,1,2,4
3,Birk RUUD,Norway,China,2022,1,0,0,1
4,Colby STEVENSON,USA,China,2022,0,1,0,1

In [30]:
table_athletes.duplicated().sum()

0

In [31]:
table_participations.columns = ['athlete_name','country','game_name_location','game_year','nb_gold',	'nb_silver', 'nb_bronze','total']

In [32]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:@localhost/hackathon')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_participations.to_sql('participation', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'participation'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'participation'.