In [76]:
%pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in e:\documents\ipssi\m2\hackaton\ipssi_hackaton_equipe_9\.venv\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\documents\ipssi\m2\hackaton\ipssi_hackaton_equipe_9\.venv\lib\site-packages (from SQLAlchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in e:\documents\ipssi\m2\hackaton\ipssi_hackaton_equipe_9\.venv\lib\site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [77]:
%pip install MySQLdb

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement MySQLdb (from versions: none)
ERROR: No matching distribution found for MySQLdb

In [78]:
%pip install mysqlclient

Requirement already satisfied: mysqlclient in e:\documents\ipssi\m2\hackaton\ipssi_hackaton_equipe_9\.venv\lib\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [79]:
import pandas as pd
df_merge = pd.read_excel('data/olympic_final.xlsx')

In [80]:
df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,athlete_year_birth,nb_gold,nb_silver,nb_bronze,Medals,game_end_date,game_start_date,game_location,game_season,game_year,city_location
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,1999,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
1,Curling,Mixed Doubles,Mixed,GameTeam,Amos MOSANER,Italy,2,1995,1,0,0,1,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
2,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,1986,0,1,1,2,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
3,Curling,Mixed Doubles,Mixed,GameTeam,Magnus NEDREGOTTEN,Norway,2,1990,0,1,1,2,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
4,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,1997,0,0,1,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing

In [81]:
table_athletes = df_merge[['athlete_full_name', 'athlete_year_birth']]

In [82]:
table_athletes.duplicated().sum()

13818

In [83]:
table_athletes.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\1105030447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_athletes.drop_duplicates(inplace=True)

In [84]:
table_athletes.columns = ['full_name', 'birth']

In [85]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_athletes.to_sql('athlete', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'athlete'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'athlete'.

In [86]:
table_country = df_merge[['country_name']]

In [87]:
table_country.columns = ['name']

In [88]:
table_country.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\1186006666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_country.drop_duplicates(inplace=True)

In [89]:
table_country.duplicated().sum()

0

In [90]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_country.to_sql('country', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'country'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'country'.

In [91]:
table_games =  df_merge[['game_location','game_year']]

In [92]:
table_games.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\237488133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_games.drop_duplicates(inplace=True)

In [93]:
table_games.duplicated().sum()

0

In [94]:
table_games.columns = ['name','year']

In [95]:
table_games.duplicated().sum()

0

In [96]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_games.to_sql('game', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'games'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'games'.

In [97]:
table_participations = df_merge[['athlete_full_name', 'country_name', 'game_location', 'game_year', 'nb_gold',	'nb_silver', 'nb_bronze', 'Medals']]

In [98]:
table_participations.head()

,athlete_full_name,country_name,game_location,game_year,nb_gold,nb_silver,nb_bronze,Medals
0,Stefania CONSTANTINI,Italy,China,2022,1,0,0,1
1,Amos MOSANER,Italy,Republic of Korea,2018,1,0,0,1
2,Kristin SKASLIEN,Norway,Republic of Korea,2018,0,1,1,2
3,Magnus NEDREGOTTEN,Norway,Republic of Korea,2018,0,1,1,2
4,Almida DE VAL,Sweden,China,2022,0,0,1,1

In [99]:
table_athletes.duplicated().sum()

0

In [108]:
from sqlalchemy import create_engine, text

# Create the database engine
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Iterate over each row in the DataFrame
for index, row in table_participations.iterrows():
    try:
        athlete_name = row['athlete_full_name']
        
        # Use a connection from the engine to execute the query
        with engine.connect() as connection:
            # Use SQLAlchemy's text module for the query
            query = text("SELECT id FROM athlete WHERE full_name = :athlete_name")
            
            # Execute the query with the parameter
            result = connection.execute(query, {'athlete_name': athlete_name})
            
            # Fetch the result
            athlete_id = result.fetchone()
            
            # Check if an athlete_id was found
            if athlete_id:
                # Update the DataFrame with the athlete_id
                table_participations.at[index, 'athlete_full_name'] = athlete_id[0]  # Use index 0 to get the id
            else:
                # Handle the case where no matching athlete is found
                print(f"No matching athlete found for: {athlete_name}")

    except Exception as e:
        print('Error')
        print(row)
        print(e)
        break

# rename the column
table_participations.rename(columns={'athlete_full_name': 'athlete_id'}, inplace=True)

In [111]:
table_participations.head()

,athlete_id,country_name,game_location,game_year,nb_gold,nb_silver,nb_bronze,Medals
0,1,Italy,China,2022,1,0,0,1
1,2,Italy,Republic of Korea,2018,1,0,0,1
2,3,Norway,Republic of Korea,2018,0,1,1,2
3,4,Norway,Republic of Korea,2018,0,1,1,2
4,5,Sweden,China,2022,0,0,1,1

In [112]:
from sqlalchemy import create_engine, text

# Create the database engine
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Iterate over each row in the DataFrame
for index, row in table_participations.iterrows():
    try:
        country_name = row['country_name']
        
        # Use a connection from the engine to execute the query
        with engine.connect() as connection:
            # Use SQLAlchemy's text module for the query
            query = text("SELECT id FROM country WHERE name = :country_name")
            
            # Execute the query with the parameter
            result = connection.execute(query, {'country_name': country_name})
            
            # Fetch the result
            country_id = result.fetchone()
            
            # Check if an athlete_id was found
            if country_id:
                # Update the DataFrame with the athlete_id
                table_participations.at[index, 'country_name'] = country_id[0]  # Use index 0 to get the id
            else:
                # Handle the case where no matching athlete is found
                print(f"No matching country found for: {country_name}")

    except Exception as e:
        print('Error')
        print(row)
        print(e)
        break

# rename the column
table_participations.rename(columns={'country_name': 'country_id'}, inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\886208783.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_participations.rename(columns={'country_name': 'country_id'}, inplace=True)

In [113]:
table_participations.head()

,athlete_id,country_id,game_location,game_year,nb_gold,nb_silver,nb_bronze,Medals
0,1,2,China,2022,1,0,0,1
1,2,2,Republic of Korea,2018,1,0,0,1
2,3,3,Republic of Korea,2018,0,1,1,2
3,4,3,Republic of Korea,2018,0,1,1,2
4,5,4,China,2022,0,0,1,1

In [114]:
from sqlalchemy import create_engine, text

# Create the database engine
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Iterate over each row in the DataFrame
for index, row in table_participations.iterrows():
    try:
        game_name = row['game_location']
        game_year = row['game_year']

        # Use a connection from the engine to execute the query
        with engine.connect() as connection:
            # Use SQLAlchemy's text module for the query
            query = text("SELECT id FROM game WHERE name = :game_name AND year = :game_year")
            
            # Execute the query with the parameter
            result = connection.execute(query, {'game_name': game_name, 'game_year': game_year})
            
            # Fetch the result
            game_id = result.fetchone()
            
            # Check if an athlete_id was found
            if game_id:
                # Update the DataFrame with the athlete_id
                table_participations.at[index, 'game_location'] = game_id[0]  # Use index 0 to get the id
            else:
                # Handle the case where no matching athlete is found
                print(f"No matching game found for: {game_name} - {game_year}")

    except Exception as e:
        print('Error')
        print(row)
        print(e)
        break

# rename the column
table_participations.rename(columns={'game_location': 'game_id'}, inplace=True)

# drop the game_year column
table_participations.drop(columns=['game_year'], inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\2317577767.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_participations.rename(columns={'game_location': 'game_id'}, inplace=True)
C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\2317577767.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_participations.drop(columns=['game_year'], inplace=True)

In [115]:
table_participations.head()

  athlete_id country_id game_id  nb_gold  nb_silver  nb_bronze  Medals
0          1          2       1        1          0          0       1
1          2          2       2        1          0          0       1
2          3          3       2        0          1          1       2
3          4          3       2        0          1          1       2
4          5          4       1        0          0          1       1

In [116]:
# rename the column Medals to total, nb_gold to gold, nb_silver to silver, nb_bronze to bronze
table_participations.rename(columns={'Medals': 'total', 'nb_gold': 'gold', 'nb_silver': 'silver', 'nb_bronze': 'bronze'}, inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_7092\2816056454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_participations.rename(columns={'Medals': 'total', 'nb_gold': 'gold', 'nb_silver': 'silver', 'nb_bronze': 'bronze'}, inplace=True)

In [117]:
table_participations.head()

  athlete_id country_id game_id  gold  silver  bronze  total
0          1          2       1     1       0       0      1
1          2          2       2     1       0       0      1
2          3          3       2     0       1       1      2
3          4          3       2     0       1       1      2
4          5          4       1     0       0       1      1

In [118]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# replace 

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_participations.to_sql('participation', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'participation'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'participation'.