In [10]:
%pip install SQLAlchemy

Collecting SQLAlchemyNote: you may need to restart the kernel to use updated packages.

  Using cached SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\documents\ipssi\m2\hackaton\ipssi_hackaton_equipe_9\.venv\lib\site-packages (from SQLAlchemy) (4.12.0)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 660.6 kB/s eta 0:00:04
   ------ --------------------------------- 0.3/2.1 MB 4.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 13.3 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   ---------------------------------------- 292.8/292.8 kB ? eta 0:00:00
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.30 greenlet-3.0.3

In [11]:
%pip install MySQLdb

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement MySQLdb (from versions: none)
ERROR: No matching distribution found for MySQLdb

In [12]:
%pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/203.2 kB ? eta -:--:--
   ---------------------------------------- 203.2/203.2 kB 3.1 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
df_merge = pd.read_excel('data/olympic_final.xlsx')

In [2]:
df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,athlete_year_birth,nb_gold,nb_silver,nb_bronze,Medals,game_end_date,game_start_date,game_location,game_season,game_year,city_location
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,1999,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
1,Curling,Mixed Doubles,Mixed,GameTeam,Amos MOSANER,Italy,2,1995,1,0,0,1,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
2,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,1986,0,1,1,2,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
3,Curling,Mixed Doubles,Mixed,GameTeam,Magnus NEDREGOTTEN,Norway,2,1990,0,1,1,2,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,Winter,2018,PyeongChang
4,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,1997,0,0,1,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing

In [3]:
table_athletes = df_merge[['athlete_full_name', 'athlete_year_birth']]

In [4]:
table_athletes.duplicated().sum()

13818

In [5]:
table_athletes.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_31056\1105030447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_athletes.drop_duplicates(inplace=True)

In [6]:
table_athletes.columns = ['full_name', 'birth']

In [27]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_athletes.to_sql('athlete', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'athlete'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

Une erreur s'est produite : (MySQLdb.OperationalError) (1292, "Incorrect date value: '1999' for column `mydatabase`.`athlete`.`birth` at row 1")
[SQL: INSERT INTO athlete (full_name, birth) VALUES (%s, %s)]
[parameters: [('Stefania CONSTANTINI', 1999), ('Amos MOSANER', 1995), ('Kristin SKASLIEN', 1986), ('Magnus NEDREGOTTEN', 1990), ('Almida DE VAL', 1997), ('Oskar ERIKSSON', 1991), ('Mikael KINGSBURY', 1992), ('Walter WALLBERG', 2000)  ... displaying 10 of 12095 total bound parameter sets ...  ('Georgios TSITAS', 1871), ('Launceston ELLIOT', 1956)]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
table_country = df_merge[['country_name']]

In [9]:
table_country.columns = ['name']

In [10]:
table_country.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_31056\1186006666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_country.drop_duplicates(inplace=True)

In [11]:
table_country.duplicated().sum()

0

In [24]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_country.to_sql('country', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'country'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'country'.

In [13]:
table_games =  df_merge[['game_location','game_year']]

In [14]:
table_games.drop_duplicates(inplace=True)

C:\Users\fcola\AppData\Local\Temp\ipykernel_31056\237488133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_games.drop_duplicates(inplace=True)

In [15]:
table_games.duplicated().sum()

0

In [16]:
table_games.columns = ['name','year']

In [17]:
table_games.duplicated().sum()

0

In [26]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_games.to_sql('game', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'games'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

DataFrame sauvegardé avec succès dans la table 'games'.

In [19]:
table_participations = df_merge[['athlete_full_name','country_name','game_location','game_year','nb_gold',	'nb_silver', 'nb_bronze','Medals']]

In [20]:
table_participations.head()

,athlete_full_name,country_name,game_location,game_year,nb_gold,nb_silver,nb_bronze,Medals
0,Stefania CONSTANTINI,Italy,China,2022,1,0,0,1
1,Amos MOSANER,Italy,Republic of Korea,2018,1,0,0,1
2,Kristin SKASLIEN,Norway,Republic of Korea,2018,0,1,1,2
3,Magnus NEDREGOTTEN,Norway,Republic of Korea,2018,0,1,1,2
4,Almida DE VAL,Sweden,China,2022,0,0,1,1

In [21]:
table_athletes.duplicated().sum()

0

In [22]:
table_participations.columns = ['athlete_name','country','game_name_location','game_year','nb_gold',	'nb_silver', 'nb_bronze','total']

In [23]:
from sqlalchemy import create_engine

# Connexion à la base de données MySQL
# Remplacez 'localhost' par le nom d'hôte ou l'adresse IP de votre serveur MySQL
engine = create_engine('mysql://root:rootpassword@localhost:3306/mydatabase')

# Sauvegarde du DataFrame dans la table MySQL
try:
    table_participations.to_sql('participation', con=engine, if_exists='append', index=False)
    print("DataFrame sauvegardé avec succès dans la table 'participation'.")
except Exception as e:
    print(f"Une erreur s'est produite : {e}")
finally:
    # Fermer la connexion à la base de données
    engine.dispose()

Une erreur s'est produite : (MySQLdb.OperationalError) (1049, "Unknown database 'hackathon'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)